* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

/***************************************************************/
/*Header y Nav*/

header {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: violet;
    border: 1px black;
}

.sMi {
    text-align: center;
    font-family: monospace;
    font-size: xx-large;
    padding: 10px;
}

/***************************************************************/
/*Footer*/

footer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: violet;
    border: 1px black;
}

/***************************************************************/
/*CONTENIDO*/

.site-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: gray;
    border: 1px black;
}

.bloque {
    background-color: antiquewhite;
    margin: 5px;
    font-family:monospace;
     text-align:left;
    font-size:medium;
    padding: 10px;
    line-height: 40px;
}

.sobre-mi {
    grid-column: 1/3;
    text-align: center;
    font-size:x-large;
    font-family: monospace;
    padding: 10px;
    line-height: 50px;
}

